@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    margin: 0;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
}

header{
    margin: 0 auto;
    width: 431px;
}

p{
    font-size: 14px;
    position: absolute;
    margin-left: 270px;
    margin-top: -17px;
}

h1{
    background: url("https://i.ibb.co/Q9yv5Jk/flappy-bird-set.png") 0% 340px;
    padding: 1.2rem 0;
    margin: 0;
}

.score-container{
    display: flex;
    justify-content: space-between;
    padding: 8px 6px;
    background: #5ee270;
}

/*media screens*/
@media (max-width: 515px){
    p{
     margin-left: 240px;   
    }
    #currentScore{
        position: absolute;
        padding-left: 220px;
    }
}


@media (max-width: 412px){
    p{
     margin-left: 240px;   
    }
    #currentScore{
        position: absolute;
        padding-left: 220px;
    }
}

@media (max-width: 387px){
    p{
     margin-left: 240px;   
    }
    #currentScore{
        position: absolute;
        padding-left: 210px;
    }
}

@media (max-width: 380px){
    p{
     margin-left: 230px;   
    }
    #currentScore{
        position: absolute;
        padding-left: 205px;
    }
}

@media (max-width: 370px){
    p{
     margin-left: 210px;   
    }
    #currentScore{
        position: absolute;
        left: -10px;
    }
}


@media (max-width: 355px){
    p{
     margin-left: 190px;   
    }
    #currentScore{
        position: absolute;
        margin-left: -15px;
    }
}

@media (max-width: 339px){
    p{
     margin-left: 190px;   
    }
    #currentScore{
        position: absolute;
        font-size: 15px;
    }
}

@media (max-width: 330px){
    p{
     margin-left: 170px;   
    }
    #currentScore{
        position: absolute;
        font-size: 14px;
    }
    #bestScore{
        font-size: 14px;
    }
}
